body {
    padding: 2rem 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    /* padding-left: 10%; */
}

.header {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    width: 100%;
}

.profile{
    display: flex;
    flex-direction: row;
justify-content: flex-end;}

.profile img {
    width:30vh;
    /* margin-left: -10rem; */
}


.gridContente {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40vh 60vh;
    gap: 3rem;

}

.box {
    padding: 1rem;
    overflow: scroll;
    max-height: 100%;
}

.contact{
    padding: 2rem;
}
.objectives {
    background-color: aliceblue;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
}

i {
    font-size: 3rem;
}


@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .container{
        width: 100%;
    }
    .gridContente {
       
    }    
h1,h2,h3,h4{
        /* font-size: -30%; */
    }
}
@media all and (min-width: 480px) and (max-width: 768px) {
    .gridContente {
        display: flex;
        flex-direction: column;
    }


    .header{
background-color: antiquewhite;    }
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    i {
        font-size: 1.5em;
    }
    }

@media all and (max-width: 480px) {
    .gridContente {
        display: flex;
        flex-direction: column;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: smaller;
    }
}