<!DOCTYPE html>
<html lang="en">


<body>

<%- include('../partials/head'); %>

<%- include('../partials/header') %>
<section></section>
<%- include('../partials/posts')%>

<%- include('../partials/footer.ejs') %>
                </body>

</html>